@model DB1_Project_WEBPORTAL.Models.PropertyModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Propiedades</h1>
<h4>Insertar Propiedad</h4>
<div>
    <a href='javascript:history.go(-1)'>Volver</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input  asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input  asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyNumber" class="control-label"></label>
                <input asp-for="PropertyNumber" class="form-control" />
                <span asp-validation-for="PropertyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Insertar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>



@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}