@model DB1_Project_WEBPORTAL.Models.UserPropertyModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<UserModel> users = ViewData["Users"] as List<UserModel>;
}

<h1> Seleccione un usuario </h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Tipo Usuario
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach(var user in users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Name)
            </td>
            <td>
                @if (user.isAdmin)
                {
                    <p> Administrador</p>
                }
                else
                {
                    <p> Propietario </p>
                }
                
            </td>
            <td>
                 <form asp-action="InsertUser">
                     <input type="hidden" asp-for="Name" value="@user.Name">
                     <input type="hidden" asp-for="PropertyNumber">
                     <div class="form-group">
                         <input type="submit" value="Seleccionar" class="btn btn-warning"/>
                     </div>
                 </form>           
            </td>
            
        </tr>
    }
    </tbody>
</table>
