@model DB1_Project_WEBPORTAL.Models.FixedCcModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Conceptos de Cobro</h1>
<h4>Actualizar Concepto de Cobro</h4>
<div>
    <a href='javascript:history.go(-1)'>Volver</a>
</div>
<hr />
<h5>Fijo</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFixed">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ChargeConceptName"/>
            <div class="form-group">
                <label asp-for="ReciptEmisionDay" class="control-label"></label>
                <select asp-for="ReciptEmisionDay" class="form-control">
                    <option value="">--Seleccione un Día--</option>
                    @for (int i = 0; i < 27; i++)
                    {
                        <option value=@i>@i</option>
                    }
                </select>
                <span asp-validation-for="ReciptEmisionDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoratoryInterestRate" class="control-label"></label>
                <input asp-for="MoratoryInterestRate" class="form-control"/>
                <span asp-validation-for="MoratoryInterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDays" class="control-label"></label>
                <input asp-for="ExpirationDays" class="form-control"/>
                <span asp-validation-for="ExpirationDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}