@model ChangeModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Historial de Cambios </h1>
<div>
    <a href='javascript:history.go(-1)'>Volver</a>
</div>


